@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Baloo Tammudu 2", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

button {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 12px 15px;
  background-color: #f44335;
  color: #fff;
  font-size: 15px;
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}
.modal {
  background-color: white;
  width: 500px;
  max-width: 100%;
  padding: 12px 12px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.modal h1 {
  margin: 0;
}
.modal p {
  font-size: 14px;
  opacity: 0.8;
}
